/*Propiedades generales*/
* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

/*Aqui se edita todo el cuerpo de la pagina pets*/
body {

    /*-----------*/
    header {
        display: flex;
        justify-content: space-between;

        /*Aqui se modifica el boton, se coloca display none para que no se vea en pantalla grande*/
        .boton-menu {
            display: none;
            background-color: gray;
            color: white;
            padding: 15px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: blueviolet;
            }
        }

        /*Condicional del media query, si es menor a 897 px entonces se hara la condicion puesta*/
        @media (max-width: 597px) {
            .boton-menu {
                display: block;
            }

            nav {
                /*Propiedades exclusivas para el menu hamburguesa*/
                top: 100px;
                right: 20px;
                position: absolute;
                background-color: rgb(109, 25, 148);
                display: none;

                &.active {
                    display: flex;
                    flex-direction: column;

                    a {
                        color: white;
                    }
                }
            }
        }

        /*--------*/
        a {
            color: white;
        }

        background-color: rgb(67, 74, 74);
        color: white;
    }

    /*Aqui se edita la seccion que contiene las imagenes*/
    section {
        background-color: blueviolet;

        margin: 2px;
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        /*Aqui se edita el div para las imagenes*/
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 2px;
            box-shadow: black;
            text-align: center;
            max-width: 100%;
            max-height: 100%;
            color: white;
        }

        /*Aqui se editan las imagenes en especifico*/
        .img-pets {
            max-width: 80%;
            max-height: 80%;
            height: auto;
            border: 2px solid gray;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .Nombres{
            display: none;
            background-color: gray;
            &.active{
                display: block!important;
            }
        }

        /*Nota: Para modificar las imagenes y que se vea entre comillas comodo, lo mejor seria que se ponga un limite al contenedor y luego darle un limite a la imagen*/
    }

    /*-------------------------*/
    .botones-extras{
            display: grid;
            grid-template-columns: repeat(2, 1fr);        
        /*Esto es para el boton de ver mas (Informacion extra)*/
        .boton-ver-mas{

            background-color: gray;
            color: white;
            padding: 15px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            
            &:hover {
                background-color: blueviolet;
            }        
        }
        .info-extra {
            display: none;
            background-color: gray;
            
            text-align: center;

            &.active {
                display: block;
            }
        }
        /*Aqui acaba la modificacion del info extra*/
        /*Aqui es el boton de nombres*/
        .boton-nombres{
            background-color: gray;
            color: white;
            padding: 15px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            
            &:hover {
                background-color: blueviolet;
            }

        }
        /*Aqui acaba el boton de nombres*/        
    }

    /*----------------------------*/

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        margin: -10px;

        .LogoFooter {
            img {
                height: 35px;
                width: 35px;
            }
        }
    }

    /*------------------------------------------------------------------------------------*/
    /*Media query para pantallas pequeñas*/
    @media (max-width:597px) {
        .imagenes {
            background-color: blueviolet;
            margin: 2px;
            padding: 2px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /*Media query para tablets*/
    @media (min-width:598px) and (max-width: 991.98px) {
        .imagenes {
            background-color: blueviolet;
            margin: 2px;
            padding: 2px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}